<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136613865285-ockv29mhvgkcq6vk2ijv62eiiquk19rv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136613865285-ockv29mhvgkcq6vk2ijv62eiiquk19rv</string>
	<key>API_KEY</key>
	<string>AIzaSyB88joq1Qe5Tt2qu-XFY0jwoIsmdkGmVR4</string>
	<key>GCM_SENDER_ID</key>
	<string>136613865285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pdponline.flutterInstaclone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-caa44</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-caa44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136613865285:ios:a7f51a253cf13125b7802c</string>
</dict>
</plist>